/* global */

:root {
  --breakpoint: calc((800px - 100%) * 800);
}

body {
  font-family: 'Open Sans', sans-serif;
  overflow-y: scroll;
}

img {
  max-width: 90%;
  height: auto;
  margin: 1em 0;
}

/* main */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  min-width: 50%;
  max-width: 100%;
  width: var(--breakpoint);
}

.main-heading {
  text-align: center;
}

.search-box {
  display: flex;
  justify-content: center;
}

.search-input {
  min-width: 50%;
  max-width: 90%;
  width: var(--breakpoint);
  margin: 1rem 0;
  padding: 3px;
  font-size: 1rem;
  line-height: 1.1rem;
  border: 1px solid #999;
  border-radius: 3px;
}

.search-input::placeholder {
  color: #bbb;
}

.search-highlight {
  background-color: yellow;
}

/* item */

.item {
  margin-bottom: 3rem;
}

.image-wrapper {
  display: flex;
  justify-content: center; /* center the image */
  align-items: center; /* make sure it keeps its ratio */
}

.resource {
  display: block;
  margin: 0 4px;
}

.tag {
  padding: 2px 7px 3px 6px;
  margin: 0 3px;
  border-radius: 3px;
  background-color: #ddd;
}

.tag:hover {
  cursor: pointer;
  background-color: #bbb;
}

.date {
  margin: 0 3px;
  color: #bbb;
}

/* utils */

.side-by-side {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
